<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>filter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
</head>
<body>
  <div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>lista vuejs ajax</h1>
                <button  v-if="!lists.length" v-on:click="getUser()" class="btn btn-primary">add</button>

                <ul class="list-group" v-else>
                  <li class="list-group-item"> <input type="text" v-model="name"  class="form-control"></li>
                    <li class="list-group-item" v-for="item of searchUser">
                         {{item.name}}
                    </li>
                </ul>
            </div>

            <div class="col-md-8">
                <h3>JSON </h3> 
                 <pre>
                    {{ $data | json }} 
                 </pre>
            </div>
        </div>
    </div>
  </div>






    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        const url ='https://jsonplaceholder.typicode.com/users'
         new Vue({
            
             el:"#main",

           

             data: {
                 lists:[], 
                 name:''
             },

             methods:{
                 getUser: function(){
                   axios.get(url).then(res=> {
                        this.lists = res.data
                   })
                 }
             }, 
             computed: {

                 searchUser: function(){
                     return this.lists.filter(item => item.name.includes(this.name) )
                 }
             }
        
              
         })
    </script>
</body>
</html>